<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endcolor</key>
	<string>#808080</string>
	<key>startcolor</key>
	<string>#696969</string>
	<key>privacyagreement</key>
	<string>Privacyagreement.docx</string>
	<key>useragreement</key>
	<string>Useragreement.docx</string>
	<key>gameIDguonei</key>
	<string></string>
	<key>gameIDguowai</key>
	<string></string>
	<key>bgcontroW</key>
	<string>333</string>
	<key>bgcontroH</key>
	<string>280</string>
	<key>bgcontroHN</key>
	<string>480</string>
	<key>facebookx</key>
	<string>23</string>
	<key>facebooky</key>
	<string>178.5</string>
	<key>facebookw</key>
	<string>130</string>
	<key>version</key>
	<string>1.0</string>
	<key>facebookh</key>
	<string>44</string>
	<key>linex</key>
	<string>180.5</string>
	<key>liney</key>
	<string>101.5</string>
	<key>linew</key>
	<string>130</string>
	<key>lineh</key>
	<string>44</string>
	<key>googlex</key>
	<string>23</string>
	<key>googley</key>
	<string>101.5</string>
	<key>googlew</key>
	<string>130</string>
	<key>googleh</key>
	<string>44</string>
	<key>visitorx</key>
	<string>180.5</string>
	<key>visitory</key>
	<string>178.5</string>
	<key>visitorw</key>
	<string>130</string>
	<key>visitorh</key>
	<string>44</string>
	<key>bgcontroColor</key>
	<string>#F5F5F5</string>
	<key>bgcontroheadtitleColor</key>
	<string>#FF9600</string>
	<key>bgcontroheadlineColor</key>
	<string>#eeeeee</string>
	<key>bgradio</key>
	<string>10</string>
	<key>bgAlpha</key>
	<string>0</string>
	<key>promptbgAlpha</key>
	<string>0</string>
	<key>promotline</key>
	<string>1</string>
	<key>LineShow</key>
	<string>1</string>
	<key>btnImgradio</key>
	<string>10</string>
	<key>btntitleColor</key>
	<string>#ffffff</string>
	<key>promotradio</key>
	<string>0</string>
	<key>promotbtnradio</key>
	<string>17.5</string>
	<key>promotheadtitleColor</key>
	<string>#000000</string>
	<key>promotcontentitleColor</key>
	<string>#000000</string>
	<key>promotYescolor</key>
	<string>#23B2AA</string>
	<key>promotNocolor</key>
	<string>#23B2AA</string>
	<key>facebookxn</key>
	<string>198</string>
	<key>facebookyn</key>
	<string>386</string>
	<key>facebookwn</key>
	<string>42</string>
	<key>facebookhn</key>
	<string>42</string>
	<key>linexn</key>
	<string>142</string>
	<key>lineyn</key>
	<string>386</string>
	<key>linewn</key>
	<string>42</string>
	<key>linehn</key>
	<string>42</string>
	<key>googlexn</key>
	<string>85</string>
	<key>googleyn</key>
	<string>386</string>
	<key>googlewn</key>
	<string>42</string>
	<key>googlehn</key>
	<string>42</string>
	<key>visitorxn</key>
	<string>29</string>
	<key>visitoryn</key>
	<string>386</string>
	<key>visitorwn</key>
	<string>42</string>
	<key>visitorhn</key>
	<string>42</string>
	<key>linetextcolor</key>
	<string>#9A9A9A</string>
	<key>placeholdercolor</key>
	<string>#9A9A9A</string>
	<key>textfieldlinecolor</key>
	<string>#E0E0E0</string>
	<key>textViewBtncolor</key>
	<string>#FCEE4F</string>
	<key>textViewBtnTxtcolor</key>
	<string>#000000</string>
	<key>textfieldTextcolor</key>
	<string>#000000</string>
	<key>textViewheadcolor</key>
	<string>#000000</string>
	<key>agreemcolor</key>
	<string>#000000</string>
	<key>agreetcolor</key>
	<string>#0084FF</string>
	<key>linebtncolor</key>
	<string>#FF9600</string>
	<key>textViewBtnzRadio</key>
	<string>4</string>
	<key>bingcontroHN</key>
	<string>390</string>
	<key>markradio</key>
	<string>5</string>
	<key>markbgColor</key>
	<string>#ffffff</string>
	<key>markbtnradio</key>
	<string>3</string>
	<key>markYescolor</key>
	<string>#ffffff</string>
	<key>markNocolor</key>
	<string>#ffffff</string>
	<key>marktitleColor</key>
	<string>#000000</string>
	<key>markbtnTxtcolor</key>
	<string>#000000</string>
	<key>loginTitleBgColor</key>
	<string>#ffffff</string>
</dict>
</plist>
