<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>urlScheme</key>
	<string>dynamic.links</string>
	<key>channel</key>
	<string>GM</string>
	<key>gameid</key>
	<string>1696</string>
	<key>GGkClientID</key>
	<string>418326854110-60hojn32qggeonm0mclrvi0fpaorlmol.apps.googleusercontent.com</string>
	<key>appsFlyerDevKey</key>
	<string>g7ZP9TqQ4S8AF9zeQD9Koe</string>
	<key>appleAppID</key>
	<string>1475870720</string>
	<key>Promote</key>
	<string>17</string>
	<key>rolelevel</key>
	<string>0</string>
	<key>facebookADID</key>
	<string>914481655658575_914484725658268</string>
	<key>GoogleADID</key>
	<string>ca-app-pub-7496069579613989~9003527017</string>
	<key>IronsourceAppKey</key>
	<string>ce0a7e2d</string>
	<key>issueVersion</key>
	<string></string>
</dict>
</plist>
