<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>versions</key>
	<string>1.1.2</string>
	<key>facebookfs</key>
	<string>com.immortals.tw</string>
	<key>fbappid</key>
	<string>434430780481846</string>
	<key>fbpageid</key>
	<string>107228963954619</string>
	<key>markH</key>
	<string>330</string>
	<key>promptH</key>
	<string>230</string>
	<key>ja</key>
	<string>https://dl03.gm88.com/terms/privacy_ja.html</string>
	<key>cn</key>
	<string>https://dl03.gm88.com/terms/privacy_tw.html</string>
	<key>en</key>
	<string>https://dl03.gm88.com/terms/privacy_es.html</string>
	<key>privacyagreement</key>
	<string>https://dl03.gm88.com/terms/privacy_ko.html</string>
	<key>useragreement</key>
	<string>https://dl03.gm88.com/terms/terms_ko.html</string>
	<key>version</key>
	<string>1.0</string>
	<key>btntitleColor</key>
	<string>#000000</string>
	<key>promotbtnradio</key>
	<string>8</string>
	<key>linebtncolor</key>
	<string>#FF9F00</string>
	<key>markradio</key>
	<string>5</string>
	<key>markbgColor</key>
	<string>#ffffff</string>
	<key>markbtnradio</key>
	<string>3</string>
	<key>markYescolor</key>
	<string>#ffffff</string>
	<key>markNocolor</key>
	<string>#ffffff</string>
	<key>marktitleColor</key>
	<string>#000000</string>
	<key>markbtnTxtcolor</key>
	<string>#000000</string>
	<key>proaccBtnColor</key>
	<string>#FF9F00</string>
	<key>bgcontroheadlineColor</key>
	<string>#eeeeee</string>
	<key>promotline</key>
	<string>1</string>
	<key>promotcontentitleColor</key>
	<string>#000000</string>
	<key>bgcontroColor</key>
	<string>#ffffff</string>
</dict>
</plist>
